.mains{
  margin: 0 250px
}
@media screen and (max-width: 1024px) {
  .mains{
    margin: 0;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1025px){
  .mains{
    margin: 0;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1367px){
  .mains{
    margin: 0 250px
  }
}
@media screen and (max-width: 1920px) and (min-width: 1601px){
  .mains{
    margin: 0 250px
  }
}

