/* 排名汇总样式 */


/* 主体顶部 */

.main_content form.main_search label {
    padding-left: 0;
    text-align: left;
}

.main_content form.main_search input {
    width: 100%;
}

.main_content .panel-footer .panel {
    margin-bottom: 0;
}


/* from-group */

.form-inline .form-group,
.form-inline .form-group .btn {
    font-size: 12px
}


/* 按钮组 */

.dropdown_con input {
    height: 28px;
    line-height: 8px;
}


/* 下拉框公共 */

.dropdown_con .dropdown_menu li a,
.dropdown_con input {
    color: #333;
}

.dropdown_con .dropdown_menu li a:hover {
    background-color: #ccc;
}

.dropdown_con .dropdown_menu {
    background-color: #f0f0f0;
}

.btn_add_search .btn,
.modal-footer .btn {
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
}


/* 控件图例公共 */

.chart_item .top_legend {
    font-size: 12px;
}

.chart_item .top_legend .blue {
    background-color: #2776dd;
}

.chart_item .top_legend .red {
    background-color: #d14d44;
}

.chart_item .top_legend .none {
    background-color: #D8D8D8;
}

.chart_item .top_legend .yellow {
    background-color: #F4D028;
}


/* 控件1图例 */

.chart_item .top_legend .line_lenged {
    height: 4px;
    width: 20px;
}


/* 控件2图例 */

.chart_item .top_legend .cycle_lenge {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}


/* 控件1甘特图 */

.gantt_wrap {
    font-size: 12px;
    /*   margin-left: -25%;
 */
    float: left;
    width: 100%;
    padding-right: 10px;
}


/* .gantt_wrap div.row {
  margin-bottom: 0.5%;
} */

.gantt_wrap div.col-xs-2 {
    padding-right: 0;
    text-align: right;
}

.gantt_wrap ul li {
    font-size: 12px;
    height: 6px;
    margin-bottom: 1px;
    text-align: center;
}

.gantt_wrap .blue li {
    background-color: #2776dd;
}

.gantt_wrap .red li {
    background-color: #d14d44;
}

.gantt_wrap ul .off {
    background-color: #D8D8D8;
}

.gantt_wrap ul .none {
    background-color: #f5f0f0;
}

.yLineHeight {
    position: absolute;
    display: none;
    top: -19%;
    left: 16%;
    height: 225px;
    border-left: 2px solid #D8D8D8;
}

.xLineHeight {
    position: absolute;
    display: none;
    top: 78%;
    left: 16%;
    width: 85%;
    border-bottom: 2px solid #D8D8D8;
}

.tableAddCss {
    width: 98%;
    margin-right: 1%;
}


/*表格开关按钮*/

#toggle-button {
    display: none;
}

.button-label {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 20px;
    background-color: #ccc;
    box-shadow: #ccc 0px 0px 0px 1px;
    border-radius: 30px;
    overflow: hidden;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.button-label .text {
    line-height: 20px;
    font-size: 14px;
    text-shadow: 0 0 2px #ddd;
}

.on {
    color: #fff;
    display: none;
    text-indent: 10px;
}

.off {
    color: #fff;
    display: inline-block;
    text-indent: 34px;
}

.button-label .circle {
    left: 0;
    transition: all 0.3s;
}

#toggle-button:checked+label.button-label .circle {
    left: 40px;
}

#toggle-button:checked+label.button-label .on {
    display: inline-block;
}

#toggle-button:checked+label.button-label .off {
    display: none;
}

#toggle-button:checked+label.button-label {
    background-color: #113ee8;
}

.hiddeleSwitch {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}


/* 控件高度响应式 */


/* 顶部控件 */


/* .main_show_wrap .component .chart_item .chart_wrap {
  height: 180px;
}


表格控件

.main_show_wrap .component .table_wrap {
  height: 210px;
  height: 280px;
}
 */


/* 1366分辨率下 */

@media screen and (max-width: 1366px) and (min-width: 1024px) {
    /* 顶部控件 */
    .main_show_wrap .component .chart_item .chart_wrap {
        height: 130px;
    }
    .main_show_wrap .component .chart_item .chart_wrap .chart {
        width: 1000px;
    }
    /* 表格控件 */
    .main_show_wrap .component .table_wrap {
        height: 230px;
        /*   height: 380px; */
    }
    .gantt_wrap div.row {
        margin-bottom: 0.5%;
    }
}


/* 1600*900分辨率下，窗口高度为770px */

@media screen and (max-width: 1600px) and (min-width: 1367px) {
    /* 顶部控件 */
    .main_show_wrap .component .chart_item .chart_wrap {
        height: 280px;
    }
    .main_show_wrap .component .chart_item .chart_wrap .chart {
        width: 1920px;
    }
    /* 顶部左侧审计开关状态分布图 */
    .gantt_wrap div.row {
        margin-bottom: 1%;
    }
    .gantt_wrap ul li {
        height: 10px;
        margin-bottom: 3px;
    }
    /* 表格控件 */
    .main_show_wrap .component .table_wrap {
        height: 200px;
        /* height: 380px; */
    }
}


/* 1920*1080分辨率下，窗口高度为900px */

@media screen and (max-width: 1920px) and (min-width: 1601px) {
    /* 顶部控件 */
    .main_show_wrap .component .chart_item .chart_wrap {
        height: 330px;
    }
    .main_show_wrap .component .chart_item .chart_wrap .chart {
        width: 2300px;
    }
    /* 顶部左侧审计开关状态分布图 */
    .gantt_wrap div.row {
        margin-bottom: 1.5%;
    }
    .gantt_wrap ul li {
        height: 10px;
        margin-bottom: 5px;
    }
    /* 表格控件 */
    .main_show_wrap .component .table_wrap {
        /*  height: 360px; */
        height: 330px;
    }
}

.sjkg_dialog_bg {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1001;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}

.sjkg_dialog_show {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 18%;
    height: 10%;
    padding: 8px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    text-align: center;
    line-height: 3;
}

.panel-title-color {
    color: white;
}


/* .sjkg-transform-date {
  color: #333;
  transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  Internet Explorer
  -moz-transform: rotate(31deg);
  Firefox
  -webkit-transform: rotate(-85deg);
  Safari 和 Chrome
  -o-transform: rotate(31deg);
  Opera
} */

.light_style .panel_footer_table_style_color {
    background-color: #fefefe;
}


/* .light_style .gantt_wrap_title_width{
	width:13%;
}
.light_style .gantt_wrap_list_line_width{
	width:87%;
} */